---
layout: default
---



<div class="home">

<div class="avatar">
  <img src="https://secure.gravatar.com/avatar/294c8932afd9fbffbc976d7317accf14?s=200">
</div>

<p class="intro">I am a designer working at [Mangrove](http://mangrove.com) in Rotterdam, The Netherlands. I enjoy good coffee, riding my bike to work, basketball and comic books.I spend my days creating beautiful and usable websites. In my spare time I like to spend time with my wife and my almost 4-year-old daughter Juliet.<p>

<p>I like to travel, take photos whenever I can and am obsessed with New York City. I grew up on a steady diet of comic books and LEGO®. I have been playing basketball since I was little and still do to this day.</p>





<!-- 
  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Work</h1>

  <ul class="post-list">
      {% for page in site.pages %}
        {% if page.title and page.menu != 'main' %}
        <li><h2><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2></li>
        {% endif %}
      {% endfor %}
  </ul>


{% for project in site.data['page_collections']['projects'].pages %}
  <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
{% endfor %} -->

<!--   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
</div>
