
<header class="pb5 parallax-window" data-parallax="scroll" data-image-src="images/bg.png" data-z-index="1">
  <div class="header__content">
    <div class="container depth-2 position-relative">
      <div class="row">
        <div class="xs2 subhead subhead--vertical cl-white">Jpkoudstaal.com</div>
        <div class="xs10 content--primary">
          <h1 class="cl-primary">Hi. I’m <span style="white-space:nowrap">Jan-Paul.<span></h1>
          <h2 class="cl-white">Senior designer at Mangrove, a digital agency from the Netherlands.</h2>
        </div>
      </div>
    </div>
    <nav class="pt3 depth-3 position-relative">
      <div class="container">
        <div class="row">
          <div class="xs2 subhead subhead--vertical"></div>
          <div class="xs10 content--primary">
            <ul class="list-style-none pull text-uppercase">
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#work">Selected work</a></li>
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#about">About me</a></li>
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#articles">What I wrote</a></li>
              <!-- <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#places">Places I've been</a></li> -->
            </ul>
            <!-- <ul class="list-style-none push text-uppercase">
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="">Linkedin</a></li>
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="">Twitter</a></li>
              <li class="mb1"><a class="cl-primary text-underline--secondary" href="">Instagram</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>