
<header class="pb5 parallax-window" data-parallax="scroll" data-image-src="images/bg.jpg" data-z-index="1">
  <div class="header__content">
    <div class="container depth-2 position-relative">
      <div class="row">
        <div class="xs2 subhead subhead--vertical cl-white">Intro</div>
        <div class="xs10 md7 content--primary">
          <h1 class="cl-primary">Hi. I’m <span style="white-space:nowrap">Jan-Paul.<span></h1>
          <h2 class="cl-white">I am a senior designer at <a class="mangrove" href="http://mangrove.com" target="_blank">Mangrove</a>, currently working on the new UNICEF.nl</h2>
          <p class="cl-white">Contact me via <a style="color:#fff;border-bottom: dotted 1px rgba(255, 255, 255, 0.5);text-decoration: none !important;" href="mailto:hi@jpkoudstaal.com">Email</a>.</p>
        </div>
      </div>
    </div>
    <nav class="pt3 depth-3 position-relative">
      <div class="container">
        <div class="row">
          <div class="xs2 subhead subhead--vertical"></div>
          <div class="xs10 content--primary">
            <ul class="list-style-none pull font-sans text-uppercase">
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#work">Selected work</a></li>
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#about">About me</a></li>
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#articles">What I wrote</a></li>
              <li class="pr4 mb1"><a class="cl-primary text-underline--secondary" href="#places">Places I’ve been</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>