<div class="container" id="work">
        <div class="row">
          <div class="xs2 subhead subhead--vertical cl-secondary">Selected work</div>
          <div class="xs10 pt5 content--primary text-align-center">
            <div class="xs12 md6">
              <a class="group" href="/ngexpeditions">
              <img data-src="/images/ngexpeditions.png" class="lazy"/>
              <h4 class="cl-primary text-italic mb0">National Geographic Expeditions</h4>
              <span class="subhead pt1 cl-secondary">View project</span>
              </a>
            </div>
            <div class="xs12 md6">
              <a class="group" href="/tudelftuniversity">
              <img data-src="/images/tudelft.png" class="lazy"/>
              <h4 class="cl-primary text-italic mb0">TU Delft University</h4>
              <span class="subhead pt1 cl-secondary">View project</span>
              </a>
            </div>
          </div>
         </div>
         
        <div class="row"> 
          <div class="xs2 subhead--vertical">&nbsp;</div>
          <div class="xs10 content--primary text-align-center"> 
            <div class="xs12 md6">
              <a class="group" href="/hogeveluwe">
              <img data-src="/images/hogeveluwe.png" class="lazy"/>
              <h4 class="cl-primary text-italic mb0">Hoge Veluwe National&nbsp;Park</h4>
              <span class="subhead pt1 cl-secondary">View project</span>
              </a>
            </div>
            <div class="xs12 md6">
              <a class="group" href="/dutchheartfoundation">
              <img data-src="/images/hartstichting.png" class="lazy"/>
              <h4 class="cl-primary text-italic mb0">Dutch Heart Foundation</h4>
              <span class="subhead pt1 cl-secondary">View project</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="xs2 subhead--vertical">&nbsp;</div>
          <div class="xs10 content--primary text-align-center">  
            <div class="xs12 md6">
              <a class="group" href="/mangrove">
              <img data-src="/images/mangrove.png" class="lazy"/>
              <h4 class="cl-primary text-italic mb0">Mangrove Digital Agency</h4>
              <span class="subhead pt1 cl-secondary">View project</span>
              </a>
            </div>
            <div class="xs12 md6">
              <a class="group" href="/citizenm">
              <img data-src="/images/citizenm.png" class="lazy"/>
              <h4 class="cl-primary text-italic mb0">citizenM Architecture Guide</h4>
              <span class="subhead pt1 cl-secondary">View project</span>
              </a>
            </div>
          </div> 
        </div>
    </div>