/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color:$text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    cursor:default;
}

body *{
    box-sizing: border-box;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
.post article ul.list-inline{
    margin:0;
    li{
       display: inline;
       margin-right: 10px;
       list-style: none;  
    }
}    



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    color: $brand-color;
    font-weight: 800;
}


h1{
    font-size:2em;
    @include media-query($tablet) {
        font-size:3em;
    }
    line-height: 1.2em;
    font-weight: bold;
}

h2,.h2{
    font-size:1.6em;
    @include media-query($tablet) {
        font-size:1.8em;
    } 
    margin: 20px 0 10px 0; 
}

p.intro{
    color: $brand-color;
    font-size:1.4em;  
    padding:20px 0;
    max-width: 700px;
    margin:0 auto;
}

h3,.h3{
    font-size: .8em;
    margin-bottom: 4px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: $grey-color;
    display: block;
}

.center-text{
    text-align: center;
}

.padding-md{
    padding:14px 30px !important;
}

.margin-md{
    margin:20px 0;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    transition: $transition-links;
    border-bottom:1px solid rgba($brand-color,.2);
    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        border-bottom:1px solid rgba($brand-color,.8);
    }
}

.active{
  // text-decoration: underline; 
}


/**
 * Blockquotes
 */
blockquote {
    color: $brand-color;
    padding: $spacing-unit * 2;
    font-size: 38px;
    text-align: center;
    letter-spacing: -1px;
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
    padding:0;
    @extend %clearfix;

    @include media-query($desktop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     //   padding-right: $spacing-unit / 2;
     //   padding-left: $spacing-unit / 2;

    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


.onload-fadein{
    -webkit-transition: opacity .5s ease;   
    transition: opacity .5s ease;
    opacity: 0;
}

.onload-fadein.is-loaded{
    opacity: 1;
}



.small{
    font-size: $small-font-size;
}
.muted{
    opacity: .4;
}
