////////////////////////
//  Map
////////////////////////

.map {
	position: relative;

	img {

		@include sm('<') {
			display: none;
		}
	}
}

.pins {

	ul {
		list-style: none;
	}

	li {
		display: block;
		cursor: pointer;

		@include sm('<') {
			top: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			left: 0 !important;
			padding: 15px;
		}

		@include md('>') {
			position: absolute;
			width: 17px;
			height: 17px;
			border-radius: 20px;
			background: $cl-primary;
		}

		&:hover {

			.pins__label {

				@include md('>') {
					visibility: visible;
					opacity: 1;
					transform: translate3d(0, -10px, 0);
				}
			}
		}

		&:nth-child(1) {
			@include animation(slide, 200ms, down);
		}

		&:nth-child(2) {
			@include animation(slide, 200ms, down);
		}

		&:nth-child(3) {
			@include animation(slide, 200ms, down);
		}
	}

	.pins__label {
		padding: 10px;
		color: $cl-secondary;
		text-align: center;
		letter-spacing: 1.5px;
		background-color: $cl-white;
		border-radius: 4px;
		border: 1px solid $cl-secondary;
		transition-property: transform, opacity, visibility;
		transition-duration: 300ms;
		transition-timing-function: $cubic-bezier;

		@include md('>') {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			bottom: 50%;
			left: 50%;
			width: 170px;
			height: 70px;
			margin-left: -85px;
		}
	}

	.pins__link {
		@include font-size(16);
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	}
}
