////////////////////////
//  Mixins
////////////////////////

// Font-size
@mixin font-size($size: 1.6) {
  font-size: $size + px;
  font-size: ($size / 10) + rem;
}

// Animations
@mixin animation($type, $duration, $direction: null, $timing: null) {

  @if $direction == null {
    animation: #{$type} $duration $timing;
  } @else {
    animation: #{$type}--#{$direction} $duration $timing;
  }
}

// Clearfix
@mixin clearfix {
  *zoom: 1; // IE 6/7 fix

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
