////////////////////////
//  Variables
////////////////////////

// Whitespace
$default-padding:									1rem;
$default-margin:									1rem;
$padding-percent:									2%;
$padding-fixed:										1.5rem;
$margin-percent:									2%;
$margin-fixed:										1rem;
	
// Borders	
$border-style:										solid;
$border-color:										rgba(0, 0, 0, .1);
$default-border-radius:								3px;
$border-1:											1px;
$border-2:											2px;
$border-3:											3px;

// Typography
$base-font:											'Helvetica Neue', Helvetica, sans-serif !default;
$mono-font:											'Office Code Pro', Monaco, Consolas, monospace !default;
$base-font-size:									16px;
$base-line-height:									1.6 !default;

// Colors
$cl-white:											#fff;
$cl-grey:												#ccc;
$cl-black:											#000;

$cl-primary:										#E55E38; // was 50E3C2
$cl-secondary:										#283647; // dark 
$cl-tertiary:										$cl-white;
$cl-quaternary:										#E8EAED;
$cl-quinary:										#d5573c;

$cl-gold:											#b0976d;

// Grid min
$xs-min-width:										0 !default;
$sm-min-width:										20rem !default; // iPhone 4 width+
$md-min-width:										48rem !default; // iPad width+
$lg-min-width:										80rem !default; // Laptop width+
$xl-min-width:										123rem !default; // Desktop width+

// Grid max
$xs-max-width:										$sm-min-width;
$sm-max-width:										$md-min-width; // iPhone 6+ max-width
$md-max-width:										$lg-min-width; // Tablet max-width
$lg-max-width:										$xl-min-width; // Laptop max-width
$xl-max-width:										200rem; // Great scott!

// Grid settings
$column-count:										12 !default;
$gutter:											30px !default;
$wrap-width:										$md-max-width !default;
$column-px-width:									$wrap-width / $column-count;
$column-percentage-width:							($column-px-width / $wrap-width) * 100%;
$devices:											('xs', 'xs: phone (max-width: 320)', $xs-min-width, $xs-max-width),
													('sm', 'sm: large phone (min-width: 320)', $sm-min-width, $sm-max-width),
													('md', 'md: tablet (min-width: 768)', $md-min-width, $md-max-width),
													('lg', 'lg: laptop (min-width: 1280)', $lg-min-width, $lg-max-width),
													('xl', 'xl: desktop (min-width: 1650)', $xl-min-width, $xl-max-width);

// Animations
$cubic-bezier:										cubic-bezier(.5, -.5, .5, 1.5);
$transition-duration:								200ms;
