---
layout: default
---


<header class="post-header invert">
	{% picture [] {{ page.background }} [attribute=""] %}
	<div class="content">
		<div>
			<div>
				<div>
					<h1 class="animated fadeInUp">{{ page.title }}</h1>
					<h3 class="animated fadeInUp delayed">{{ page.subtitle }}</h3>
				</div>
			</div>
		</div>	
	</div>
</header>




<div class="wrapper">

	<div class="post animated fadeIn delayed2">

		<article>
		<p class="intro">{{ page.intro }}</p>
		
		{{ content }}
		

		{% if page.externallink %}			
		<p>
			<a href="{{ page.externallink }}" class="cta" target="_blank">visit site</a>
			{% if page.morelink %}
			<a href="{{ page.morelink }}" class="cta--small" target="_blank">more on mangrove.com</a>
			{% endif %}
		</p>
		{% endif %}
		</article>

		{% assign pages_list = site.pages %}
		{% assign group = 'navigation' %}
		{% include pages_list %}
	
	</div>
</div>