---
layout: default
---

<header class="post-header-blog">
	<div class="content invert">
		<h1 class="animated fadeInUp">{{ page.title }}</h1>
		{% if page.subtitle %}<h2 class="animated fadeInUp delayed">{{ page.subtitle }}</h2>{% endif %}
		<h3 class="animated fadeInUp delayed2">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h3>
	</div>	
</header>

<div class="wrapper">
	<div class="post animated fadeIn delayed3">
	  <article class="post-content">

	  {% if page.intro %}<p class="intro">{{ page.intro }}</p>{% endif %}

	    {{ content }}
	  </article>
	</div>
</div>