---
layout: blog
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="container">
 
 	<div class="xs2 subhead subhead--vertical cl-white"><a href="/#articles">Back home</a></div>

  	<div class="xs10 ptb8 content--primary" itemprop="articleBody">
   	 <h1 class="cl-primary" itemprop="name headline">{{ page.title }}</h1>
   	 <h2>{{ page.subtitle }}</h2>

    <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

	<p class="intro">{{ page.intro }}</p>
    {{ content }}
  	</div>
  </div>
</article>


  <section class="pt0 pb8" id="about">
    <div class="container">
  
      <div class="xs2 subhead subhead--vertical cl-white">Articles&nbsp;I&nbsp;wrote</div>
      <div class="xs10 mt8 content--primary">
        <ul class="list-style-none text-italic">

        {% for post in site.posts %}
  		  <li class="mb1">
  		      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  		  </li>
  		  {% endfor %}

        </ul>
      </div>
    </div>
  </section>