---
layout: default
---

<header class="post-header summer">
	<div class="content">
		<div>
			<div>
				<div>
					<h1 class="animated fadeInUp">{{ page.title }}</h1>
					<h2 class="animated fadeInUp delayed">{{ page.subtitle }}</h2>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="wrapper">
	<div class="post animated fadeIn delayed2">	
	  <article class="post-content">
	  	<p class="intro">{{ page.intro }}</p>
	    {{ content }}
	  </article>
		  {% assign group = 'navigation' %}
		  {% assign pages_list = site.pages %}
		{% include work_list %}
	</div>
</div>